body {
    /* background-color: #141A32; */
}

.sidebar {
    background-color: #1a1d21; 
    height: 100vh;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}
.top-bar {
    background-color: #1a1d21; 

}
.sidebar h3 {
    color: white;
    padding-left: 15px;
}

.nav-link {
    color: #c2c7d0;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.nav-link:hover {
    background-color: #343a40;
    border-radius: 5px;
}

.nav-link.active {
    background-color: #6f42c1;
    border-radius: 5px;
    color: white;
}

.nav-link i {
    margin-right: 10px;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo img {
    width: 140px;
    margin-right: 10px;
}
.logo img{
    width: 100%;
}
@media screen and (min-width: 1600px) {
    .modal-dialog {
      max-width: 90%; /* New width for default modal */
    }
}